li.addon-service-list-item {
  padding: 10px 5px 10px 5px;
  border-bottom: 2px solid $background-gray;

  &:last-child {
    border-bottom: none;
  }

  a {
    display: block;
    text-decoration: none;
    color: black;
  }

  .addon-service-picture {
    display: inline-block;
    height: 30px;
    width: 30px;
    vertical-align: middle;

    img {
      width: 100%;
      height: 100%;
      border-radius: 3px;
    }
  }

  .arrow {
    position: relative;
    top: 5px;
    float: right;

    i {
      font-weight: bold;
      opacity: 0.4;
    }
  }

}
