.addon-services-container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.search-bar {
  @include heroku-gradient();
  height: 70px;

  input {
    height: 30px;
    margin-top: 15px;
    width: 100%;
    border-radius: 3px;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 5px;
  }
}

.filter-bar {
  height: 50px;
  background-color: $heroku-purple;
}

.main-content {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.addon-service-list {
  @include default-box-shadow();
  background-color: $white;
  margin-top: 30px;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}
