* {
  box-sizing: border-box;
}

body {
  background-color: $background-gray;
  margin: 0;
  font-family: sans-serif;
}

@import 'shared';
@import 'login';
@import 'addon-services';
@import 'addon-service';
@import 'app';
@import 'apps';
