<div class="nav-links">
  <div class="addon-services-container">
    <div class="nav-link">{{#link-to 'apps'}}My Apps{{/link-to}}</div>
    <div class="nav-link">{{#link-to 'addon-services'}}Heroku Addons{{/link-to}}</div>
    <div class="nav-link">{{#link-to 'login'}}Logout{{/link-to}}</div>
  </div>
</div>
