<div class="search-bar">
  <div class="addon-services-container">
    {{input type="text"}}
  </div>
</div>

<div class="filter-bar">
</div>

<div class="main-content">
  <div class="addon-service-list">
    <ul>
      {{#each model as |addonService|}}
        {{addon-service-list-item model=addonService}}
      {{/each}}
    </ul>
  </div>
</div>
