<div class="search-bar"></div>

<div class="filter-bar"></div>

<div class="main-content">
  <div class="addon-service-list">
    <ul>
      {{#each model as |addonService|}}
        <li>{{#link-to 'addon-service' addonService}}{{addonService.name}}{{/link-to}}</li>
      {{/each}}
    </ul>
  </div>
</div>
