<div class="main-bar">
  <div class="addon-services-container">
    <div class="search-field">
      {{fa-icon "search" size='lg'}}
      {{input type="text" value=filterText}}
    </div>
  </div>
</div>

<div class="sub-bar">
  <div class="addon-services-container">
    {{#filter-link type="all" currentFilterType=filterType}}
      SHOW ALL
    {{/filter-link}}

    {{#filter-link type="ga" currentFilterType=filterType}}
      STABLE
    {{/filter-link}}

    {{#filter-link type="alpha" currentFilterType=filterType}}
      ALPHA
    {{/filter-link}}

    {{#filter-link type="beta" currentFilterType=filterType}}
      BETA
    {{/filter-link}}
  </div>
</div>

<div class="main-content">
  <div class="addon-service-list">
    <ul>
      {{#each filteredModels as |addonService|}}
        {{addon-service-list-item model=addonService}}
      {{/each}}
    </ul>
  </div>
</div>
